<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form action='hello' method='post'>
    <p>Name: <input type='text' name='name'>
        <select name='lang'>
            <option value='English'>English</option>
            <option value='French'>French</option>
            <option value='German'>German</option>
            <option value='Spanish'>Spanish</option>
            </select>
        <input label='Enter Name' type='submit' value='Greet me!'>
        </p>
    </form>

</body>
</html>